* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, violet, green);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    margin-bottom: 15px;
    font-size: 36px;
}
p {
    color: white;
    margin-bottom: 25px;
    font-size: 18px;
    text-align: center;
    width: 350px;
}
button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: blue;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}
button:hover {
    background-color: white;
    transform: scale(1.05);
}
#result {
    margin-top: 25px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
    color: grey;
    min-width: 250px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}